mixin icon(name)
  span&attributes(attributes)
    !=require(`icons/${name}.svg`)

mixin responsive-img(image, sizes = {})
  -if ( !image.url ) image = require(`images/${image}`)
  img&attributes(attributes)(
    src=image.url || image.src
    alt=image.alt || ''
    srcset=getSrcset(image)
    sizes=getSizes(sizes)
    width=image.width || image.dimensions.width
    height=image.height || image.dimensions.height
    loading=imgLoading
  )

mixin img(image)
  -image = require(`images/${image}`)
  img&attributes(attributes)(
    src=image.src
    alt=""
    width=image.width
    height=image.height
    loading=imgLoading
  )
